services:
  postgres:
    image: postgres:15
    container_name: dw_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:Z

  metabase:
    image: metabase/metabase
    container_name: dw_metabase
    restart: always
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase.db
    depends_on:
      - postgres
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: 22130128@st.hcmuaf.edu.vn
      PGADMIN_DEFAULT_PASSWORD: khuong@100
    ports:
      - "8080:80"
    restart: unless-stopped

volumes:
  pgdata:

